<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}"
		data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Regurgitate!{{/if}}
	</button>
	{{#if devoured}}
	<button class="delete-burger" data-id="{{this.id}}">
		Ya Termine!
	</button>
	{{/if}}
</li>
